.article {
    display: block;
    margin: 0 0 30px 0;
    padding: 12px;
    background: white;
    border-radius: 3px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    transition: all 220ms;
}
.article:hover {
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
    transition: all 220ms;
}
.article > img {
    display: block;
    width: 100%;
    margin: 0 0 24px 0;
}
.article h2 {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 0 12px 0;
}

.wall {
    display: block;
    position: relative;
}
.wall-column {
    display: block;
    position: relative;
    width: 25%;
    float: left;
    padding: 0 12px;
    box-sizing: border-box;
}
@media (max-width: 640px) {
    .wall-column {
        width: 50%;
    }
}
@media (max-width: 480px) {
    .wall-column {
        width: auto;
        float: none;
    }
}
