.sec5 {
    background: linear-gradient(to right top, rgb(255, 187, 187), rgb(255, 102, 102));
    min-height: 100vh;
    background-size: 100%;
}
video {
    width: 80%;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
